*.DS_Store
*.tsv
*.db
*.pyc
*.txt
*.pkl
*.csv
src/display/graph/*.html
src/display/_graph_generator.py

# keep below
!src/display/graph/*.jpg
!src/display/graph/*.png
!src/display/graph/*.js
!src/display/graph/*.css
!src/extract/process_data/pmid_to_year.pkl
!src/extract/process_data/slm_input.csv
